* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: Arial, sans-serif;
    /* background-color: #f4f4f4; */
    height: 100vh;

}

/* Container cho form */
.container-form {
    /* background-color: #fff; */
    padding: 30px 40px;
    /* border-radius: 10px; */
    /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); */
    /* width: 650px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="text"],
input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

label {
    align-items: center;
    justify-content: center;
    display: flex;
    margin-right: 10px;
    margin-left: 5px;
}